baseURL = 'https://www.xuqiongjie.com'
languageCode = 'zh-cn'
title = "Qiongjie's Notes"
summaryLength = 6
enableRobotsTXT = true

[[module.imports]]
  path = "github.com/halogenica/beautifulhugo"

[languages]
  [languages.en]
    languageCode = 'en-us'
    languageName = 'EN'
    title = "Qiongjie's Notes"
    contentDir = "content/en" # English
    [languages.en.params]
        subtitle = "Spatial intelligence researcher | GIS developer | Data storyteller"
    [languages.en.menus]
      [[languages.en.menus.main]]
        name = "BLOG"
        url = "post"
        identifier = "post"
        weight = 1
      [[languages.en.menus.main]]
        name = "Remote Sensing with Python"
        url = "post/python-geodata"
        parent = "post"
        weight = 1
      [[languages.en.menus.main]]
        name = "Monte Carlo–Markov Chains Statistical Methods"
        url = "post/mcmc-statics"
        parent = "post"
        weight = 2
      [[languages.en.menus.main]]
        name = "AI Fundamentals"
        url = "post/ai-fundamentals"
        parent = "post"
        weight = 3
      [[languages.en.menus.main]]
        name = "PROJECT"
        identifier = "project"
        url = "projects"
        weight = 2
      [[languages.en.menus.main]]
        name = "TerraFlow"
        url = "https://ictar.github.io/TerraFlow/"
        parent = "project"
        weight = 1
      [[languages.en.menus.main]]
        name = "NOTE"
        url = "notes"
        weight = 3
      [[languages.en.menus.main]]
        name = "ABOUT ME"
        url = "page/about/"
        weight = 6
      [[languages.en.menus.main]]
        name = "TAG"
        url = "tags"
        weight = 4
  [languages.zh-cn]
    languageCode = 'zh-cn'
    languageName = 'CH'
    title = "琼呀"
    contentDir = "content/zh-CN" # Chinese
    [languages.zh-cn.params]
        subtitle = "空间智能研究者 | GIS开发者 | 数据 storyteller"
    [languages.zh-cn.menus]
      [[languages.zh-cn.menus.main]]
        name = "文章"
        url = "post"
        identifier = "post"
        weight = 1
      [[languages.zh-cn.menus.main]]
        name = "用 Python 玩转遥感数据"
        url = "post/python-geodata"
        parent = "post"
        weight = 1
      [[languages.zh-cn.menus.main]]
        name = "蒙特卡洛-马尔可夫链统计方法"
        url = "post/mcmc-statics"
        parent = "post"
        weight = 2
      [[languages.zh-cn.menus.main]]
        name = "AI 基础系列"
        url = "post/ai-fundamentals"
        parent = "post"
        weight = 3
      [[languages.zh-cn.menus.main]]
        name = "GeoAI 系列"
        url = "post/geoai"
        parent = "post"
        weight = 4
      [[languages.zh-cn.menus.main]]
        name = "项目"
        identifier = "project"
        url = "projects"
        weight = 2
      [[languages.zh-cn.menus.main]]
        name = "TerraFlow"
        url = "https://ictar.github.io/TerraFlow/"
        parent = "project"
        weight = 1
      [[languages.zh-cn.menus.main]]
        name = "笔记"
        url = "notes"
        weight = 3
      [[languages.zh-cn.menus.main]]
        name = "关于我"
        url = "page/about/"
        weight = 6
      [[languages.zh-cn.menus.main]]
        name = "标签"
        url = "tags"
        weight = 4


[Params]
    mainSections = ["post","posts","notes"]
    keywords = ["GIS", "Remote Sensing", "GeoAI", "TerraFlow", "Python", "Deep Learning", "Spatial Intelligence"]
    logo = "img/avatar-icon.png"
    favicon = "img/favicon.ico"
    rss = true
    wordCount = true
    socialShare = true
    showRelatedPosts = true
    math = true
    hideAuthor = true
    custom_css = ["css/custom.css"]
    

[Params.author]
    name = "Qiongjie.X"
    website = "https://www.xuqiongjie.com"
    email = "ele.qiong@gmail.com"
    github = "ictar"
    linkedin = "qiongjie-xu"


[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)'], ['$', '$']]
    [markup.tableOfContents]
      endLevel = 2
      ordered = false
      startLevel = 1



[sitemap]
  changefreq = "weekly"
  priority = 0.5
  filename = "sitemap.xml"

[services]
  [services.disqus]
    shortname = 'xqj'

